/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* ======font family=========
font-family: 'Open Sans', sans-serif;
*/

:root{
  --thmColor: #3CA9ED;
  --bdrColor:#E1E1E1
}

body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  background: #F4F6FA;
}

  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }
img{
  max-width: 100%;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 

/* default-css END 
================================== */
 
main{
    width: calc(100% - 60px);
    margin-left: auto;
}


/* Header section END */


/*============ Area Start =============*/
.side__nav {position: fixed;left: 0;top: 0;width: 60px;background: white;height: 100%;border: 1px solid #E6E6E6;
/* navshadow */box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);text-align: center;transition: all .3s;}

a.logo {
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid var(--bdrColor);
    padding-bottom: 10px;
}

.side__nav ul li {
    margin-bottom: 40px;
}

.side__nav ul li:first-child {
    margin-bottom: 30px;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.header__area {padding: 0 50px;padding-top: 23px;border-bottom: 1px solid #E1E1E1;background: #fff;position: sticky;top: 0;z-index: 99;}
a.close_nav {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: auto !important;
}

.header__title {display: flex;align-items: baseline;}

a.mobile__nav_btn {
    font-size: 35px;
    display: none;
}

.header__title p {
    font-size: 18px;
    color: #959595;
    margin-bottom: 5px;
}

.header__title h1 {
    font-size: 36px;
    font-weight: 400;
}
.header__link {text-align: right;}

.header__link ul li {
    margin-left: 10px;
}

.header__link ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.user {width: 35px;height: 35px;display: block;border-radius: 50%;overflow: hidden;}
/*============ Area End =============*/


/*============ Area Start =============*/
.task__wrp_cb {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4px 0;
  padding-right: 20px;
  border-right: 1px solid var(--bdrColor);
}

.task__wrp_cb label {
  margin-left: 10px;
  font-size: 20px;
}
.search__bar {width: 100%;max-width: 1060px;background: #F4F6FA;display: flex;padding: 11px 22px;border-radius: 30px;border: 1px solid #E1E1E1;align-items: center;height: 50px;margin-left: 60px;margin: 0px 60px 20px;}

.search__bar input {
    background: no-repeat;
    border: none;
    width: 100%;
}
.search_btn {margin-right: 12px;font-size: 16px;}
.extra_option{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 107px;
    z-index: 99;
}
.slider__btn {margin-left: 10px;}
.task__wrp1 {width: calc(100% - 120px);background: #FDFDFD;border: 1px solid #E1E1E1;border-radius: 15px;display: flex;align-items: center;justify-content: space-between;padding: 4px 20px;max-width: 1740px;margin-inline: auto;height: 60px;}

input.checkBox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #E1E1E1;
    border-radius: 2px;
    position: relative;
    display: block;
    display: inline-block;
    flex-shrink: 0;
}

input.checkBox::after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid var(--thmColor);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  content: "";
  opacity: 0;
}

input.checkBox:checked::after {
    opacity: 1;
}

.task__wrp1 .action__icon {
    margin-left: 20px;
}

.task__wrp__left {
    display: flex;
    align-items: center;
}


.action__icon ul {
    display: flex;
}

.action__icon ul li {
    margin: 0px 7px;
}

.select__box .nice-select:after {
    background: url(../img/select-arrow.svg);
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.select__box .nice-select {
    background: var(--thmColor);
    color: #fff;
    border: 1px solid #E1E1E1;
    height: 32px;
    display: flex;
    align-items: center;
}

.task__wrp1 .select__box .nice-select:before, .select__box.adt .nice-select:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #E1E1E1;
    right: 27px;
}


.accordion {max-width: 1060px;margin-left: 50px;}

.accordion-header {display: flex;align-items: center;}
.accordion-button {display: flex;align-items: center;font-size: 24px;margin: 1px 10px;width: max-content;}

.accordion-button span {
    display: block;
    margin: 0 25px;
    margin-left: 0;
}

.accordion-body {background: #fff;padding: 10px;border-radius: 15px;margin-bottom: 25px;}

.t__head__wrp {display: flex;justify-content: space-between;align-items: center;position: relative;}

.t__head__wrp.bdr:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 61px;
    background: var(--bdrColor);
    left: 40px;
    top: -18px;
}

.t__head__wrp input {
    margin-right: 30px;
}

.t__head__wrp span {
    font-size: 18px;
    font-weight: 400;
}
.updown {display: flex;flex-direction: column;margin-right: 20px;}

.updown a {
    line-height: 1;
    color: #CCCCCC;
}


.job-Area th {padding-bottom: 16px;}

.job-Area {
    padding: 50px 0;
}

.job-Area tbody td {
    padding-top: 20px;
}

.job-Area tbody tr td:first-child {
    width: 280px;
}

.job-Area thead tr {
    border-color: var(--bdrColor);
    border-bottom: 1px solid var(--bdrColor);
}

.accordion-header > input {
    margin-left: 18px;
}
.accordion-button[aria-expanded="true"] a {rotate: -180deg;}

.table {position: relative;}

.table:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 200px;
    background: #CEECF6;
    top: 10px;
    left: -10px;
}
.t__head__wrp div {display: flex;align-items: center;}

.ts-1 input {
    margin-right: 30px;
}

.inactive {
    opacity: .5;
    pointer-events: none;
}

.ts-1 div {
    display: flex;
    align-items: center;
}

.ts-1 p {
    margin-bottom: 0;
    margin-left: 55px;
    margin-top: 8px;
    position: absolute;
    display: none;
}

tr.active .ts-1 p {
    display: block;
    position: unset;
}


.ts-2 .nice-select .list {
    color: #555555;
    font-size: 12px !important;
}

.cl-1 .nice-select .list {
    background: #c4f4d9;
}

.cl-2 .nice-select .list {
    background: #EFD6D5;
}

.cl-3 .nice-select .list {
    background: #ceecf6;
}

.ts-2 .select__box .nice-select:after {
    filter: brightness(0.3);
}

.ts-2 .select__box .nice-select {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 12px !important;
}

.cl-2 .nice-select {
    background: #EFD6D5;
}

.cl-3 .nice-select {
    background: #CEECF6;
}

.cl-1 .nice-select {
    background: #C4F4D9;
}

.ts-2 span {
    font-size: 12px;
    color: #555555;
}


.ts-5 ul {
    display: flex;
}

.ts-5 ul li a {
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
    margin-left: -5px;
}


.ts-6 .action__icon {
    display: none;
}

tr.active .ts-6 .action__icon {
    display: block;
}

.ts-6 .action__icon ul {
    justify-content: end;
    margin-top: 10px;
    align-items: center;
}
.rat {display: flex;align-items: center;justify-content: space-between;}

.rat ul li {
    display: inline-block;
}

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/

